
/Project/.vscode/
/Project/.pack/
/Project/.eide/
/Project/.cmsis/

/Project/build/
/Project/Listings/
/Project/output/

/Project/JLinkLog.txt
/Project/JLinkSettings.ini
/Project/project.uvoptx
/Project/EventRecorderStub.scvd
/Project/project.code-workspace
/Project/RTE_Components.h
/Project/project.uvguix*


*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
Debug/
Release/
