
/Project/.vscode/
/Project/.pack/
/Project/.eide/
/Project/.cmsis/

/Project/build/
/Project/Listings/
/Project/output/



# /Project/EventRecorderStub.scvd
# /Project/project.uvguix*
# /Project/JLinkLog.txt
# /Project/JLinkSettings.ini
# /Project/project.uvoptx
# /Project/RTE_Components.h
# /Project/project.code-workspace

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
Debug/
Release/
